header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: white;
}

.mobileImages {
  display: none;
}

header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

header .logo .name1 {
  font-weight: bold;
}

header .logo .name2 {
  color: grey;
}

header .menu {
  display: flex;
}

header .menu span {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
}
  @media only screen and (max-width: 470px) {
    .menu span {
    display: none;
  }

  h2.name1, h2.name2 {
    display: none;
  }

  .logo {
    width: 100%;
  }

  .mobileImages {
    display: inline;
  }

  .logo {
    justify-content: space-between;
  }
}

.jumbotron {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #efeff5;
}

.jumbotron .leftContent img {
  width: 100%;
  height: auto;
}

.jumbotron .rightContent h1 {
  font-size: 3rem;
  font-weight: bold;
}

.jumbotron .rightContent p {
  font-size: 1.8rem;
}

@media only screen and (max-width: 470px) {
  .jumbotron {
    flex-direction: column;
  }

  .jumbotron .leftContent, .jumbotron .rightContent {
    width: 100%;
    height: auto;
  }

  .jumbotron .rightContent {
    align-items: flex-start;
    text-align: left;
  }

  .jumbotron .rightContent .textContent, .jumbotron .rightContent .button {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .jumbotron .button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

.midbanner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  background-color: white;
}

.midbanner .leftContent .image-container {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.midbanner .leftContent h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.midbanner .leftContent h5 {
  margin-bottom: 2rem;
}

.midbanner .leftContent p {
  font-weight: bold;
}

@media only screen and (max-width: 470px) {
  .midbanner .leftContent {
    display: none;
  }

  .midbanner .rightContent {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .midbanner .internalBox1, .midbanner .internalBox2 {
    flex-direction: column;
    padding-right: 0;
    align-items: flex-start;
    max-width: 100%;
    background-color: white;
    margin: 1rem;
    margin-bottom: 2rem;
  }

  .midbanner .desktopImages {
    display: none;
  }

  .midbanner .mobileImages {
    display: flex;
  }

  .midbanner .image-container {
    width: 100%;
    margin: 0;
  }

  .midbanner .image-container img {
    width: 100%;
    height: auto;
  }

  .midbanner .textContent {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

.leftContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2rem 1.5rem;
}

.rightContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
}

.textContent {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  vertical-align: middle;
}

.textContent h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.textContent p {
  font-size: 14px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.internalBox1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding-right: 1rem;
}

.internalBox2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #efeff5;
  padding-right: 1rem;
}

.internalBox1 .image-container, .internalBox2 .image-container {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.internalBox1 .textContent, .internalBox2 .textContent {
  width: 65%;
}

.internalBox1 a, .internalBox2 a {
  color: blue;
}

.internalBox3 {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.internalBox3 .image-container {
  width: 100%;
  height: auto;
}

.internalBox3 .textContent {
  padding: 1.5rem 1rem;
}

.image-container img, .video-container video {
  width: 100%;
  height: auto;
}

.courseSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efeff5;
}

.courseSection h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 4.5rem;
}

.courses .internalBox3 {
  width: 30%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 470px) {
  .courseSection {
    background-color: hsla(0, 23%, 95%, 0.5);
  }

  .courses {
    flex-direction: column;
    align-items: center;
  }

  .courses .internalBox3 {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .courses .image-container {
    display: none;
  }

  .courses .textContent {
    width: 100%;
    background-color: #e0e0eb;
  }

  .courses .textContent p, .courses .textContent span {
    display: none;
  }
}

.button {
  width: 85%;
  border-radius: 4px;
  background-color: #1d1d2f;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  background-color: white;
  margin-left: 1.5rem;
}

.thesis h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

.thesisContent {
  display: flex;
  align-items: flex-start;
}

.video-container {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.video-container video {
  max-width: 100%;
}

@media only screen and (max-width: 470px) {
  .thesis {
    margin: 0;
  }

  .thesisContent .rightContent {
    display: none;
  }

  .thesisContent .leftContent {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
  }

  .thesisContent .leftContent .textContent {
    display: none;
  }

  .thesisContent .video-container {
    width: 100%;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px dotted black;
}

footer span {
  font-size: 0.8rem;
  margin: 0.5rem;
}

.copyright a {
  color: gray;
}

@media only screen and (max-width: 470px) {
  footer .terms {
    display: none;
  }
}
